---

import MainHead from "../layouts/MainHead.astro";
import MainLayout from "../layouts/MainLayout.astro";



---

<html lang="en">
	<MainHead title="Erreur 404"/>
	<body>
		<MainLayout>
			<h1>Erreur 404</h1>
		</MainLayout>
	</body>
</html>

<link rel="stylesheet" href="../../../../../styles/global.css">
