---

import MainHead from "../layouts/MainHead.astro";
import MainLayout from "../layouts/MainLayout.astro";



---

<html lang="en">
	<MainHead title="À propos"/>
	<body>
		<MainLayout/>
	</body>
</html>

<link rel="stylesheet" href="../styles/global.css">
