---

import MainHead from "../layouts/MainHead.astro";
import MainLayout from "../layouts/MainLayout.astro";



---

<html lang="en">
	<MainHead title="Accueil"/>
	<body>
		<MainLayout logged=true>
			<p>J'suis connecté</p>
		</MainLayout>
	</body>
</html>

<link rel="stylesheet" href="../styles/global.css">
