---

import MainHead from "../layouts/MainHead.astro";
import MainLayout from "../layouts/MainLayout.astro";



---

<html lang="en">
	<MainHead title="Politique de confidentialité"/>
	<body>
		<MainLayout>
			<p>Rien à signaler, la politique de confidentalité est confidentielle pour le moment</p>
		</MainLayout>
	</body>
</html>

<link rel="stylesheet" href="../styles/global.css">
